body {
    background-color: rgba(184, 147, 219, 0.714);
}
section {
    max-width: 1180px;
    
    margin: 0 auto;
    padding-left: 20px;
    background: linear-gradient(90deg, rgb(93, 11, 170) 58%, rgb(11, 72, 170));
    border: 1px solid rgba(93, 11, 170, 0.979);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 15px 2px rgba(15, 14, 15, 0.6);
}
h1 {
    color:  aliceblue;
    text-align: center;
}
.avatar {
    text-align: center;
    
}
img {
    box-shadow: 4px 4px 8px 14px rgba(34, 60, 80, 0.2);
}
p { 
    color: aliceblue; 
    font-size: 38px;
}